@use 'scss/colors';
@use "scss/dogItem";
@use "scss/dogSearchBar";
@use "scss/dogFilterMenu";
@use "scss/dropdown";
@use "scss/dropdown__statusPills";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: colors.$dark-blue-5;
  color: colors.$true-white;
}

.home-content-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40vh;
}

.home-content {
  width: 42rem;
  //display: flex;
  //flex-direction: column;
}

.home-content__header {
  display: flex;
  column-gap: 0.5rem;
}

@media screen and (min-width: 700px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}