:root {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --fostered: #277da1;
  --fta: #577590;
  --adopted: #43aa8b;
  --vetting-complete: #00a6a6;
  --intake: #9593d9;
  --onhold: #f9844a;
  --vetting-incomplete: #ed5356;
  --pending-records: #e5c244;
  --deceased: #2a2929;
  --missing-status: #848383;
}

.dog-data-wrapper {
  display: flex;
  justify-content: center;
  /*background: lightgrey;*/
}

.dog-data-container {
  margin-top: 1rem;
  width: 650px;
  border-radius: 5px;
}

.dog-item {
  display: grid;
  grid-template-columns: 2.1fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr;
  grid-template-areas: 'name sex dogweight age dogfixed intake status vstatus';
  border-radius: 5px;
  font-size: 0.9rem;
  margin: 0.2rem 0;
  background: white;
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.15);
}

.dog-item-name {
  grid-area: name;
  margin-left: 0.5rem;
}

.dog-item-sex {
  grid-area: sex;
}

.dog-item-weight {
  grid-area: dogweight;
}
.dog-item-age {
  grid-area: age;
}
.dog-item-fixed {
  grid-area: dogfixed;
}
.dog-item-intake {
  grid-area: intake;
}
.dog-item-status {
  grid-area: status;
}
.dog-item-vstatus {
  grid-area: vstatus;
}

.rel {
  position: relative;
  padding: 1rem 0 0.6rem 0rem;
}

.dog-item-label {
  position: absolute;
  top: 2px;
  left: auto;
  color: #999797;
  font-size: 0.6rem;
}

.fostered {
  background: var(--fostered);
  color: white;
}

.adopted {
  background: var(--adopted);
  color: white;
}

.intake {
  background: var(--intake);
  color: white;
}

.onhold {
  background: var(--onhold);
  color: white;
}

.deceased {
  background: var(--deceased);
  color: white;
}

.vetting-complete {
  background: var(--vetting-complete);
  color: white;
}
.vetting-incomplete {
  background: var(--vetting-incomplete);
  color: white;
}

.fta {
  background: var(--fta);
  color: white;
}

.pending-records {
  background: var(--pending-records);
  color: white;
}

.missing-status {
  background: var(--missing-status);
  color: white;
}

.status-pill {
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  font-size: 0.8rem;
}
