$bright-red-3: rgb(241, 34, 91);
$bright-red-2: rgb(182, 24, 67);
$medium-green-2: rgb(10, 123, 44);
$medium-green-1: rgb(39, 147, 71);
$bright-green-3: rgb(23, 203, 73);
$medium-red-2: rgb(160, 49, 79);
$medium-red-1: rgb(131, 52, 74);
$dark-blue-6: #02274c;
$dark-blue-5: #0f2c4b;
$dark-blue-4: #323e68;
$dark-blue-3: #394676;
$dark-blue-2: #435289;
$dark-blue-1: #5a6db6;
$medium-blue-5: #2B739C;
$medium-blue-4: #368bbf;
$dark-purple-3: #6e569c;
$dark-purple-1: #7e65b6;
$medium-purple-5: #8c89cb;
$dark-grey-4: #3e3e3e;
$dark-grey-3: #505050;
$dark-grey-1: #747474;
$dark-grey-0: #828282;
$light-grey-3: #b1afaf;
$light-grey-2: #c7c5c5;
$light-grey-1: #d7d5d5;
$light-white-2: #dddddd;
$light-white-1: #eeeeee;
$true-white: #FFF;
$true-black: #000;
$transparent-white-1: rgba(265, 265, 265, 0.93);
$transparent-grey-4: rgba(62, 62, 62, 0.5);

$google-blue: #4285f4;
$google-blue-dark: #3972d2;
$button-active-blue: #1669F2;
