$dark-blue-5: #1D3557;
$dark-blue-4: #323e68;
$dark-blue-3: #394676;
$dark-blue-2: #435289;
$medium-blue-5: #2B739C;
$dark-purple-1: #7e65b6;
$medium-purple-5: #8c89cb;
$dark-grey-3: #505050;
$dark-grey-1: #747474;
$light-grey-3: #b1afaf;
$light-grey-2: #c7c5c5;
$light-grey-1: #bfc4c2;
$light-white-1: #f1ffff;
$true-white: #FFF;
