@use 'colors';
@use 'dogItemBody';
@use 'dogItem_statusPills';
$dog-item-border-radius: 5px;

.dog-item {
  position: relative;
  margin: 0.3rem 0;
  background: colors.$dark-blue-4;
  box-shadow: 0 0 0px 1px colors.$dark-blue-2;
  border-radius: $dog-item-border-radius;
  overflow: hidden;
}

.dog-item--editMode {
  box-shadow: 0 0 1px 1px colors.$light-grey-2;
}

.dog-item-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.dog-item-header {
  display: grid;
  width: 41rem;
  grid-template-columns: 2.1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.4fr 1.8fr;
  grid-template-areas: 'name sex dogweight dogfixed age intake status vstatus';
  font-size: 0.9rem;
}

.dog-item__headerButton {
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 1rem;
  font-size: 0.9rem;
  box-shadow: 0 0 0 1px colors.$dark-blue-2;
  border-top-right-radius: $dog-item-border-radius;
  &:hover {
    background-color: colors.$dark-blue-2;
  }
}
.dog-item__headerButton__icon {
  transition: transform 300ms ease;
  transform: rotate(0deg);
}

.dog-item__headerButton__icon--expanded {
  transition: transform 300ms ease;
  transform: rotate(180deg);
}

.dog-item-body-wrapper {
  display: flex;
}

.dog-item-body-all {
  display: flex;
  flex-direction: column;
}

.dog-item-body {
  @extend .dog-item-header;
  font-size: 0.8rem;
  grid-template-areas:
    'pic fc fc fc fosterName fosterName fosterDate fosterDate'
    'pic vc vc vc fosterInfo fosterInfo fosterInfo fosterInfo'
    'pic ac ac ac fosterInfo fosterInfo fosterInfo fosterInfo'
    'breed mother mother vetName vetName vetd vetd vetd'
    'origin groupName groupName fee fee vetd vetd vetd';
  padding-top: 1px;
  padding-bottom: 0.4rem;
}

.dog-item-body__side-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.dog-item-body__side-panel__angleDoubleDownIcon {
  @extend .dog-item__headerButton;
  justify-self: flex-end;
  height: 2.5rem;
  border-top-left-radius: 5px;
}

.dog-item-body__side-panel__editIcon {
  position: absolute;
  top: 1rem;
  padding: 0.3rem 1rem 0.3rem 0.5rem;
  font-size: 0.8rem;
  border-left: 1px solid colors.$dark-blue-2;
  border-top: 1px solid colors.$dark-blue-2;
  border-bottom: 1px solid colors.$dark-blue-2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &:hover {
    background-color: colors.$dark-blue-2;
  }
}

.dog-item-body-tail {
  @extend .dog-item-body;
  grid-template-areas:
    'history history history history . otherVets otherVets fleaMedBrand'
    'medNotes medNotes medNotes medNotes . vetAppts vetAppts vetAppts'
    'notes notes notes notes notes notes notes notes';
}

.dog-item__editModeUI {
  cursor: default;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  align-items: flex-end;
}

.dog-item__editModeUI__cancel {
  display: flex;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  border: 1px solid colors.$light-grey-2;
  border-bottom: none;
  padding: 0rem 0.3rem;
  margin-right: 0.3rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  &:hover {
    background-color: colors.$dark-blue-2;
  }
}

.dog-item__editModeUI__save {
  @extend .dog-item__editModeUI__cancel;
  margin-right: 0;
  margin-left: 0.3rem;
}

.dog-item__header-cell {
  position: relative;
  padding: 1rem 0 0.6rem 0;
}

.dog-item__body-cell {
  @extend .dog-item__header-cell;
  padding: 1rem 0 0 0;
}
.dog-item__body-tail-cell {
  @extend .dog-item__header-cell;
  padding: 1rem 0 0.3rem 0;
}

.dog-item__label {
  position: absolute;
  top: 2px;
  left: auto;
  color: colors.$light-grey-3;
  font-size: 0.6rem;
  z-index: 0;
}

.dog-item__inline-label {
  color: colors.$light-grey-3;
  font-size: 0.75rem;
  margin-right: 0.4rem;
  z-index: 0;
}

.dog-item-header__displayText {
  border: none;
  background: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  border-radius: 3px;
  font-size: 0.9rem;
  color: white;
  width: 95%;
  margin: 0 0 0 -0.15rem;
  padding: 0 0 0 0.15rem;
  &:focus {
    outline: 0;
  }
}

.dog-item-header__displayText--editable {
  @extend .dog-item-header__displayText;
  &:focus {
    box-shadow: 0 0 0 1px colors.$light-grey-2;
  }
}

.dog-item-body__displayText {
  @extend .dog-item-header__displayText;
  font-size: 0.8rem;
}

.dog-item-body__displayText--editable {
  @extend .dog-item-body__displayText;
  position: relative;
  &:focus {
    box-shadow: 0 0 0 1px colors.$light-grey-2;
  }
}

.dog-item-body__displayText--editable--vettingDate {
  @extend .dog-item-body__displayText--editable;
  width: 4.7rem;
}

.dog-item__inputErrorMsg {
  opacity: 0;
  position: absolute;
  top: 0%;
  right: 0.3rem;
  color: #ffffff;
  background: colors.$medium-red-1;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  border-radius: 3px;
  font-size: 0.65rem;
  width: fit-content;
}

.dog-item__fieldRequiredError::placeholder {
  color: colors.$medium-red-2;
}

.dog-item__alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem 0rem 0.3rem 0.5rem;
}

.dog-item__alerts__alertError {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  color: colors.$bright-red-3;
  font-size: 0.8rem;
}

.dog-item__alerts__alertSuccess {
  @extend .dog-item__alerts__alertError;
  color: colors.$bright-green-3;
}

.dog-item__name {
  grid-area: name;
  margin-left: 0.5rem;
}

.dog-item__sex {
  grid-area: sex;
}

.dog-item__weight {
  grid-area: dogweight;
}
.dog-item__age {
  grid-area: age;
}
.dog-item__fixed {
  grid-area: dogfixed;
}
.dog-item__intake {
  grid-area: intake;
}
.dog-item__status {
  grid-area: status;
}
.dog-item__vstatus {
  grid-area: vstatus;
}

.dog-item__pic {
  grid-area: pic;
  padding-left: 0.5rem;
  img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
  }
}

.dog-item__fc {
  grid-area: fc;
  margin-right: 0.6rem;
}
.dog-item__ac {
  grid-area: ac;
}
.dog-item__vc {
  grid-area: vc;
}

.dog-item__fosterName {
  grid-area: fosterName;
  margin-right: 0.1rem;
}
.dog-item__fosterDate {
  grid-area: fosterDate;
}

.dog-item__fosterInfo {
  position: relative;
  overflow: hidden;
  grid-area: fosterInfo;
  display: flex;
  flex-direction: column;
}

.dog-item__fosterInfo__fosterDetails {
  position: relative;
  padding-bottom: 0.2rem;
  display: flex;
  align-items: center;
}

.dog-item__foster-icon {
  margin-right: 0.3rem;
}

.dog-item__foster-add-or-cancel-icon {
  position: relative;
  margin-right: 0.4rem;
  font-size: 0.7rem;
  &:hover {
    color: colors.$dark-grey-1;
  }
}

.dog-item__breed {
  grid-area: breed;
  margin: 0.5rem 0.2rem 0 0.5rem;
}

.dog-item__origin {
  grid-area: origin;
  margin: 0 0 0 0.5rem;
}

.dog-item__mother {
  grid-area: mother;
  margin: 0.5rem 0 0 0;
}

.dog-item__vetName {
  grid-area: vetName;
  margin: 0.5rem 0 0 0;
}

.dog-item__groupName {
  grid-area: groupName;
}
.dog-item__fee {
  grid-area: fee;
}

.dog-item__vetd {
  grid-area: vetd;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-size: 0.8rem;
  column-gap: 0.2rem;
  padding-bottom: 0.3rem;
}

.dog-item__history {
  grid-area: history;
  margin: 0 0 0 0.5rem;
}

.dog-item__otherVets {
  grid-area: otherVets;
}

.dog-item__fleaMedBrand {
  grid-area: fleaMedBrand;
}

.dog-item__medNotes {
  grid-area: medNotes;
  margin: 0 0 0 0.5rem;
}

.dog-item__vetAppts {
  grid-area: vetAppts;
}
.dog-item__notes {
  grid-area: notes;
  margin: 0 0 0 0.5rem;
}
