@use 'colors';

.dog-item-body__personSelect {
  &:focus {
    outline: none;
  }
}

.dog-item-body__personSelect__fosterName {
  margin-left: -1rem;
  display: flex;
  align-items: center;
}

.dog-item-body__personSelect__dropdown {
  position: absolute;
  font-size: 0.8rem;
  top: 100%;
  width: 100%;
  border-radius: 6px;
  border-top-left-radius: 1px;
  overflow-y: scroll;
  max-height: 6rem;
  z-index: 1;
  background-color: colors.$true-white;
  visibility: hidden;
  color: colors.$true-black;
  box-shadow: 0 2px 5px 1px colors.$transparent-grey-4;
  &::-webkit-scrollbar {
    // Width of vertical scroll bar
    width: 8px;
    // Height of horizontal scroll bar
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #c2c9d2;
  }
}

.dog-item-body__personSelect__dropdown--active {
  @extend .dog-item-body__personSelect__dropdown;
  visibility: visible;
}

.dog-item-body__personSelect__dropdown__option {
  padding: 0.1rem 0 0 0.2rem;
  width: 99%;
  border-bottom: 0.1px solid colors.$light-grey-1;
  &:hover {
    background-color: colors.$light-white-1;
  }
  &:last-child {
    border: none;
    padding-bottom: 0.1rem;
  }
}

.dog-item-body__personSelect__dropdown__noMatches {
  padding: 0.1rem 0 0 0.2rem;
  width: 99%;
}

.dog-item-body__personSelect__dropdown__addNew {
  @extend .dog-item-body__personSelect__dropdown__option;
  color: green;
}

