$fostered: #277da1;
$fta: #577590;
$adopted: #43aa8b;
$vetting-complete: #00a6a6;
$intake: #8c89cb;
$hold: #db7241;
$vetting-incomplete: #c44346;
$pending-records: #baa128;
$deceased: #2a2929;
$missing-status: #848383;

@use 'breakpoints';


.status-pill {
  padding: 0.2rem 0.4rem;
  border-radius: 6px;
  font-size: 0.8rem;
  background-color: $missing-status;
  color: white;
}

.fostered {
  background-color: $fostered;
  color: white;
}

.adopted {
  background-color: $adopted;
  color: white;
}

.intake {
  background-color: $intake;
  color: white;
}

.hold {
  background-color: $hold;
  color: white;
}

.deceased {
  background-color: $deceased;
  color: white;
}

.fta {
  background-color: $fta;
  color: white;
}

.complete {
  background-color: $vetting-complete;
  color: white;
}
.incomplete {
  background-color: $vetting-incomplete;
  color: white;
}

.pendrecs {
  background-color: $pending-records;
  color: white;
}

@media all and (max-width: breakpoints.$mobile-sm) {
  .status-pill {
    padding: 0.15rem 0.3rem;
    border-radius: 6px;
    font-size: 0.76rem;
    color: white;
  }
}

