@use 'dogSearchBar-search-by-menu';
@use 'colors';
@use 'breakpoints';

$search-border-radius: 5px;
$search-bar-height: 2.5rem;

.home-dog-search-bar-wrapper {
  position: relative;
  height: 2.5rem;
  width: 55%;
  margin-right: 0.5rem;

}

.home-dog-search-bar {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100%;
}
.home-dog-search-bar__input {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 0.5rem;
  border-radius: 0 $search-border-radius $search-border-radius 0;
  background-color: colors.$medium-blue-5;
  transition: background-color 200ms ease-in;
  color: white;
  &::placeholder {
    color: white;
    font-size: 0.80rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }
  &:focus {
    outline: none;
    background-color: colors.$medium-purple-5;
  }
  &:focus + div {
    background-color: colors.$medium-purple-5;
  }
}

.home-dog-search-bar__search-icon {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 0.5rem;
  font-size: 1rem;
  color: white;
  background-color: colors.$medium-blue-5;
  transition: background-color 200ms ease-in;
  border-top-left-radius: $search-border-radius;
  border-bottom-left-radius: $search-border-radius;
}

.home-dog-search-bar__search-icon--times:hover {
  color: colors.$dark-grey-3;
}

@media all and (max-width: breakpoints.$mobile-sm) {
  .home-dog-search-bar-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}