@use 'colors';
@use 'dogItemBody';
@use 'dogItem_statusPills';
@use 'breakpoints';

$dog-item-border-radius: 5px;
$button-box-shadow-color: colors.$dark-blue-1;
$label-color: colors.$light-grey-2;

.dog-item {
  position: relative;
  margin-bottom: 0.25rem;
  background-color: colors.$dark-blue-3;
  border-radius: $dog-item-border-radius;
  overflow: hidden;
  //padding-left: 0.5rem;
}

.dog-item--editMode {
  box-shadow: 0 0 1px 1px colors.$light-grey-2;
}

.dog-item-header-wrapper {
  display: flex;
  justify-content: space-between;
}

.dog-item-header {
  display: grid;
  width: 100%;
  grid-template-columns: 2.1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.4fr 1.8fr;
  grid-template-areas: 'name sex dogweight dogfixed age intake status vstatus';
  font-size: 0.9rem;
  padding-left: 0.5rem;
}

.dog-item__headerButton {
  background: none;
  border: none;
  color: colors.$true-white;
  outline: none;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  width: 1rem;
  font-size: 0.9rem;
  box-shadow: 0 0 0 1px $button-box-shadow-color;
  border-top-right-radius: $dog-item-border-radius;
  &:hover {
    background-color: $button-box-shadow-color;
  }
}

.dog-item__headerButton--expanded {
  max-height: 2.6rem;
}

//.dog-item__headerButton__icon {
//  transition: transform 300ms ease;
//  transform: rotate(0deg);
//}
//
//.dog-item__headerButton__icon--expanded {
//  transition: transform 300ms ease;
//  transform: rotate(180deg);
//}

.dog-item-body-wrapper {
  display: flex;
}

.dog-item-body-all {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dog-item-body {
  @extend .dog-item-header;
  font-size: 0.8rem;
  grid-template-areas:
    'pic fc fc fc fosterName fosterName fosterDate fosterDate'
    'pic vc vc vc fosterInfo fosterInfo fosterInfo fosterInfo'
    'pic ac ac ac fosterInfo fosterInfo fosterInfo fosterInfo'
    'breed mother mother vetName vetName vetd vetd vetd'
    'origin groupName groupName fee fee vetd vetd vetd';
  padding-top: 1px;
  padding-bottom: 0.4rem;
}

.dog-item-body__side-panel {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.dog-item-body__side-panel__angleDoubleDownIcon {
  @extend .dog-item__headerButton;
  justify-self: flex-end;
  height: 2.5rem;
  border-top-left-radius: 5px;
}

.dog-item-body__side-panel__editIcon {
  position: absolute;
  top: 1rem;
  height: 2rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  background: none;
  outline: none;
  color: white;
  border-left: 1px solid $button-box-shadow-color;
  border-top: 1px solid $button-box-shadow-color;
  border-bottom: 1px solid $button-box-shadow-color;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  &:hover {
    background-color: $button-box-shadow-color;
  }
}

.dog-item-body-tail {
  @extend .dog-item-body;
  grid-template-areas:
    'history history history history . otherVets otherVets fleaMedBrand'
    'medNotes medNotes medNotes medNotes . vetAppts vetAppts vetAppts'
    'notes notes notes notes notes notes notes notes';
}

.dog-item__editModeUI {
  position: relative;
  cursor: default;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
  font-size: 0.8rem;
  justify-content: center;

}

.dog-item__editModeUI__icon {
  margin-right: 0.5rem;
}

.dog-item__editModeUI__cancel {
  background: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  border: 1px solid colors.$light-grey-2;
  border-bottom: none;
  padding: 0 0.3rem;
  white-space: nowrap;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  &:hover {
    background-color: $button-box-shadow-color;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px colors.$medium-blue-4;
  }
}

.dog-item__editModeUI__save {
  @extend .dog-item__editModeUI__cancel;
}

.dog-item__editModeUI__trashButton {
  @extend .dog-item__editModeUI__cancel;
  position: absolute;
  right: 2px;
  &:hover {
    background-color: colors.$medium-red-2;
  }
}

.dog-item__editModeUI__confirmDelete {
  @extend .dog-item__editModeUI__cancel;
  background-color: colors.$medium-red-2;
  &:hover {
    background-color: colors.$bright-red-2;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px colors.$medium-blue-4;
  }
}


.dog-item__header-cell {
  position: relative;
  padding: 1rem 0 0.6rem 0;
}

.dog-item__body-cell {
  @extend .dog-item__header-cell;
  padding: 1rem 0 0.2rem 0;
}
.dog-item__body-tail-cell {
  @extend .dog-item__header-cell;
  padding: 1rem 0 0.3rem 0;
}

.dog-item__label {
  position: absolute;
  top: 2px;
  left: auto;
  color: $label-color;
  font-size: 0.6rem;
  white-space: nowrap;
  z-index: 0;
}

.dog-item__inline-label {
  color: $label-color;
  font-size: 0.75rem;
  margin-right: 0.4rem;
  z-index: 0;
}

.dog-item-header__displayText {
  border: none;
  background: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  border-radius: 3px;
  font-size: 0.9rem;
  color: white;
  width: 95%;
  margin: 0 0 0 -0.15rem;
  padding: 0 0 0 0.15rem;
  overflow: hidden;
  &:focus {
    outline: 0;
  }
}

.dog-item-header__displayText--editable {
  @extend .dog-item-header__displayText;
  &:focus {
    box-shadow: 0 0 0 1px colors.$light-grey-2;
  }
}

.dog-item-body__displayText {
  @extend .dog-item-header__displayText;
  font-size: 0.8rem;
}

.dog-item-body__displayText--editable {
  @extend .dog-item-body__displayText;
  position: relative;
  &:focus {
    box-shadow: 0 0 0 1px colors.$light-grey-2;
  }
}

.dog-item-body__displayText--editable--vettingDate {
  @extend .dog-item-body__displayText--editable;
  width: 4.7rem;
}

.dog-item__inputErrorMsg {
  opacity: 0;
  position: absolute;
  top: 0%;
  right: 0.3rem;
  color: #ffffff;
  background: colors.$medium-red-1;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  border-radius: 3px;
  font-size: 0.65rem;
  width: fit-content;
}

.dog-item__alerts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.2rem 0rem 0.3rem 0.5rem;
}

.dog-item__name {
  grid-area: name;
  max-width: 7rem;
}

.dog-item__sex {
  grid-area: sex;
}

.dog-item__weight {
  grid-area: dogweight;
}
.dog-item__age {
  grid-area: age;
}
.dog-item__isFixed {
  grid-area: dogfixed;
}
.dog-item__intake {
  grid-area: intake;
}
.dog-item__status {
  grid-area: status;
}
.dog-item__vstatus {
  grid-area: vstatus;
}

.dog-item__pic {
  grid-area: pic;
  //padding-left: 0.5rem;
  img {
    width: 90%;
    border-radius: 10px;
  }
}

.dog-item__fc {
  grid-area: fc;
  margin-right: 0.6rem;
}
.dog-item__ac {
  grid-area: ac;
}
.dog-item__vc {
  grid-area: vc;
}

.dog-item__fosterName {
  grid-area: fosterName;
  margin-right: 0.1rem;
}
.dog-item__fosterDate {
  grid-area: fosterDate;
}

.dog-item__fosterInfo {
  position: relative;
  overflow: hidden;
  grid-area: fosterInfo;
  display: flex;
  flex-direction: column;
}

.dog-item__fosterInfo__fosterDetails {
  position: relative;
  padding-bottom: 0.2rem;
  display: flex;
  align-items: center;
}

.dog-item__foster-icon {
  margin-right: 0.3rem;
}

.dog-item__foster-add-or-cancel-icon {
  position: relative;
  margin-right: 0.4rem;
  font-size: 0.7rem;
  &:hover {
    color: colors.$dark-grey-1;
  }
}

.dog-item__breed {
  grid-area: breed;
  margin: 0.5rem 0.2rem 0 0;
}

.dog-item__origin {
  grid-area: origin;
  margin: 0 0 0 0;
}

.dog-item__mother {
  grid-area: mother;
  margin: 0.5rem 0 0 0;
}

.dog-item__vetName {
  grid-area: vetName;
  margin: 0.5rem 0 0 0;
}

.dog-item__groupName {
  grid-area: groupName;
}
.dog-item__fee {
  grid-area: fee;
}

.dog-item__vetd {
  grid-area: vetd;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  font-size: 0.8rem;
  column-gap: 0.2rem;
  padding-bottom: 0.3rem;
}

.dog-item__history {
  grid-area: history;
  margin: 0 0 0 0;
}

.dog-item__otherVets {
  grid-area: otherVets;
}

.dog-item__fleaMedBrand {
  grid-area: fleaMedBrand;
}

.dog-item__medNotes {
  grid-area: medNotes;
  margin: 0 0 0 0;
}

.dog-item__vetAppts {
  grid-area: vetAppts;
}
.dog-item__notes {
  grid-area: notes;
  margin: 0 0 0 0;
}


@media all and (max-width: breakpoints.$mobile-sm) {

  .dog-item-header {
    grid-template-columns: 1fr 1fr 1.4fr 1fr 1fr 1fr 1.4fr;
    grid-template-areas:
            'name name sex status status vstatus vstatus'
            'age age age intake intake intake intake'
            'dogweight dogweight dogweight dogfixed dogfixed dogfixed dogfixed';
  }

  .noDisplaySmScreen {
    display: none;
  }

  .dog-item-body {
    @extend .dog-item-header;
    font-size: 0.8rem;
    grid-template-areas:
    'pic pic pic fc fc fc fc'
    'pic pic pic vc vc vc vc'
    'pic pic pic ac ac ac ac'
    'fosterName fosterName fosterName fosterName fosterName . .'
    'fosterInfo fosterInfo fosterInfo fosterInfo fosterInfo fosterInfo fosterInfo'
    'fosterDate fosterDate fosterDate fosterDate fosterDate fosterDate fosterDate'
    'groupName groupName groupName groupName mother mother mother'
    'breed breed breed breed origin origin origin'
    'vetName vetName vetName vetName fee fee fee'
    'vetd vetd vetd vetd vetd vetd vetd'
    'vetd vetd vetd vetd vetd vetd vetd'
    'vetd vetd vetd vetd vetd vetd vetd';
  }

  .dog-item__groupName,
  .dog-item__mother,
  .dog-item__breed,
  .dog-item__origin,
  .dog-item__vetName,
  .dog-item__fee,
  .dog-item__vetd,
  .dog-item__fosterName{
    margin-top: 0.3rem;
  }

  .dog-item-body-tail {
    @extend .dog-item-body;
    grid-template-areas:
    'otherVets otherVets otherVets otherVets fleaMedBrand fleaMedBrand fleaMedBrand'
    'vetAppts vetAppts vetAppts vetAppts vetAppts vetAppts vetAppts'
    'history history history history history history history'
    'medNotes medNotes medNotes medNotes medNotes medNotes medNotes'
    'notes notes notes notes notes notes notes';
  }

}