@use 'dogItem_status_pills';
@use 'colors';

.dog-item {
  margin: 0.2rem 0;
  &:hover div {
    background: colors.$dark-blue-3;
  }
}

.dog-item-header {
  display: grid;
  grid-template-columns: 2.1fr 1fr 1fr 1fr 1fr 1.5fr 1.5fr 1.5fr;
  grid-template-areas: 'name sex dogweight age dogfixed intake status vstatus';
  font-size: 0.9rem;
  border-radius: 5px;
  background: colors.$dark-blue-4;
  border: 1px solid colors.$dark-blue-2;
}

.dog-item-header--expanded {
  @extend .dog-item-header;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.dog-item-body {
  @extend .dog-item-header;
  font-size: 0.8rem;
  grid-template-areas:
          'pic fc fc fc foster foster foster foster'
          'pic vc vc vc foster foster foster foster'
          'pic ac ac ac foster foster foster foster'
          'breed vetd vetd vetd vetd vetd vetd .'
          'vetname vetd vetd vetd vetd vetd vetd .';
  padding-bottom: 0.6rem;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.dog-item__name {
  grid-area: name;
  margin-left: 0.5rem;
}

.dog-item__sex {
  grid-area: sex;
}

.dog-item__weight {
  grid-area: dogweight;
}
.dog-item__age {
  grid-area: age;
}
.dog-item__fixed {
  grid-area: dogfixed;
}
.dog-item__intake {
  grid-area: intake;
}
.dog-item__status {
  grid-area: status;
}
.dog-item__vstatus {
  grid-area: vstatus;
}
.dog-item__pic {
  grid-area: pic;
  margin-left: 0.5rem;
  img {
    width: 85%;
    height: 85%;
    border-radius: 10px;
  }
}
.dog-item__breed {
  grid-area: breed;
  margin: 0.5rem 0 0 0.5rem;
}
.dog-item__vetname {
  grid-area: vetname;
  margin-left: 0.5rem;
}
.dog-item__fc {
  grid-area: fc;
}
.dog-item__ac {
  grid-area: ac;
}
.dog-item__vc {
  grid-area: vc;
}
.dog-item__vetd {
  grid-area: vetd;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 0.2rem 0;
  margin: 0.5rem 0 0 0;
  font-size: 0.8rem;
}
.dog-item__foster {
  grid-area: foster;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  div {
    display: flex;
    align-items: center;
  }
}

.dog-item__foster-icon {
  margin-right: 0.3rem;
}
.dog-item__altstatus {
  grid-area: altstatus;
}

.dog-item__header-cell {
  position: relative;
  padding: 1rem 0 0.6rem 0;
}

.dog-item__body-cell {
  @extend .dog-item__header-cell;
  padding: 1rem 0 0 0;
}

.dog-item__label {
  position: absolute;
  top: 2px;
  left: auto;
  color: colors.$light-grey-3;
  font-size: 0.6rem;
}

.dog-item__inline-label {
  color: colors.$light-grey-3;
  font-size: 0.75rem;
  margin-right: 0.4rem;
}

// animations

.dog-item-body-animation-enter {
  height: 0;
  overflow: hidden;
}

.dog-item-body-animation-enter-active {
  height: 180px;
  transition: height 200ms ease-out;
}

.dog-item-body-animation-exit {
  height: 180px;
}

.dog-item-body-animation-exit-active {
  height: 0;
  overflow: hidden;
  transition: height 200ms ease-out;
 }

