@use 'colors';

.in-demo-mode-msg-wrapper {
  margin: 0 auto 1rem auto;
  font-size: 0.9rem;
  display: flex;
  text-align: center;
  max-width: 35rem;
  width: 80vw;
  justify-content: center;
  color: colors.$true-white;
  //border: 1px solid colors.$light-grey-3;
  background-color: colors.$medium-red-2;
  border-radius: 1rem;
  padding: 0.5rem;
}

.in-demo-mode-msg {
  margin: 0 0;
}