@use "colors";

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
  height: 4rem;
}

.navbar__logo {
  width: 132px;
  margin-left: 2rem;
  fill: colors.$true-white;
  &:hover {
    cursor: pointer;
  }
}

.navbar__logout {
  display: flex;
  font-size: 0.9rem;
  align-items: center;
  color: colors.$light-grey-1;
  text-decoration: none;
  &:hover {
    color: colors.$medium-blue-4;
  }
}

.navbar__logout__text {
  margin-bottom: 1px;
  margin-right: 0.5rem;
}
